nav {
    display: inline-block;
    justify-content: center;
    font-family: 'Montserrat', Arial, sans-serif;

    div {
        max-width: 100%;
        display: block;

        img {
            max-width: 100%;
            width: auto;
            margin: auto;
            margin-bottom: 20px;

        }

    ul{
        display: flex;
        list-style: none;

        li {
            padding: 0 10px;
        }
        a {
            color:#777;
            text-decoration: none;
            font-size: 15px;
        }
    }
}
h1 {
    color: #474544;
font-family: 'Montserrat', Arial, sans-serif;
font-size: 32px;
font-weight: 700;
letter-spacing: 7px;
text-align: center;
}
}