<nav>
    <div>
        <ul>
            <li><a href="#">{{ home }}</a></li>
            <li><a href="#">{{miarmario}}</a></li>
            <li><a href="#">{{ about }}</a></li>
            <li><a href="#">{{ contact }}</a></li>
        </ul>
    </div>
    <div>
        <img src="{{ logo }}" alt="{{ logoAlt}}">
    </div>
    <h1>La mejor forma de saber qué tienes en tu armario</h1>
</nav>