@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button, input, select, textarea, label {
  color: #5A5A5A;
  font: inherit;
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 5px;
  width: 300px;
}

#container {
  border: solid 3px #474544;
  max-width: 700px;
  width: 700px;
  margin: 10px auto;
  position: relative;
}

form {
  padding: 5px;
  margin: 20px 0;
}

h1 {
  color: #474544;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}