<div id="container">
    <h1>&bull; Introduce una prenda &bull;</h1>
    <div class="underline">
    </div>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="prendaForm">
    <fieldset>
        <label for="name">Nombre de la prenda:</label>
        <input type="text" id="name" formControlName="name" />

        <div *ngIf="
        !prendaForm.get('name').valid &&
        (prendaForm.get('name').dirty || submitted)
      ">
            Has introducido mal el nombre
        </div>
    </fieldset>

    <fieldset>
        <label for="category">Categoría</label>
        <select formControlName="category">
            <option *ngFor="let category of categoryList; let i = index" [value]="categoryList[i].name">
                {{ category.name }}
            </option>
        </select>
    </fieldset>

    <fieldset>
        <label for="quantity">Cantidad:</label>
        <input type="text" id="age" formControlName="quantity" />

        <div *ngIf="
        !prendaForm.get('quantity').valid && (prendaForm.get('quantity').dirty || submitted)
      ">
            Has introducido mal la cantidad
        </div>
    </fieldset>

    <fieldset>
        <label for="photo">Imagen</label>
        <input type="text" id="photo" formControlName="photo" />

        <div *ngIf="
        !prendaForm.get('photo').valid &&
        (prendaForm.get('photo').dirty || submitted)
      ">
            Has introducido mal la imagen
        </div>
    </fieldset>

    <button type="submit" [disabled]="!prendaForm.valid">Submit</button>
</form>