h1 {
   color: #474544;
   font-family: 'Montserrat', Arial, sans-serif;
   font-size: 32px;
   font-weight: 700;
   letter-spacing: 7px;
   text-align: center;
   text-transform: uppercase;
 } 
 
$baseColor: rgb(110, 120, 121);
$padding: 10px;

table {
   width: 100%;
   padding: 30px;
   justify-items: center;

   
   td, th , button { 
      color: darken($baseColor, 10%);
      padding: $padding; 
      font-family: 'Montserrat', Arial, sans-serif;
  font-size: 20px;
   }
   
   td {
      text-align: center;
      vertical-align: middle;
      
   }
   
   th { 
      background-color: lighten($baseColor, 50%);
      font-weight: 300;
   }
 
}