<h1>Listado de prendas</h1>
<div *ngFor="let Armario of myArmario">
  <table cellspacing="0">
    <tr>
      <th>Prenda</th>
      <th>Categoría</th>
      <th>Cantidad</th>
      <th>Imagen</th>
      <th>Eliminar</th>
    </tr>
    <tr>

      <td>{{ Armario.name }}</td>
      <td>{{ Armario.category }}</td>
      <td>{{ Armario.quantity }}</td>
      <td><img src="{{ Armario.photo }}" alt="{{ Armario.name }}" /></td>
      <td>
        <button (click)="deleteArmario()" (deleteArmario)="deleteArmario($event)">Eliminar</button>
      </td>
    </tr>
  </table>
</div>